<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<style>
    .error{
        color: rgb(220, 20, 20);
    }
</style>
</head>
<body>
    <form action="" name="registration">
        <label for="">first name</label>
        <input type="text" name="fname"><br><br>
        <label for="">last name</label>
        <input type="text" name="lname"><br><br>
        <label for=""> E- mail</label>
        <input type="text" name="email"><br><br>
        <label for="">password</label>
        <input type="password" name="password" id="pwd"><br><br>
        <input type="checkbox" onclick="myFunction()">Show Password <br><br>
        <label for="">confirm password</label>
        <input type="password" name="password1" id="pwd1"><br><br>
        <input type="checkbox" onclick="myFunction1()">Show Password <br><br>
        <button>submit</button>
    </form>
    <script>
        $(function(){
            $("form[name='registration']").validate({
                rules:{
                    fname:"required",
                    lname:"required",
                    email:{
                        required:true,
                        email:true
                    },
                    password:{
                        required:true,
                        minlength: 8,
                        maxlength:9,
                        
                    },
                    password1:{
                        required:true,
                        equalTo:'#pwd',
                    }
                },
                messages:{
                    fname:"please enter your first name",
                    lname:"please enter your last name",
                    email:{
                        required:"please enter your email",
                        email:"please enter a valid email address"
                    },
                    password:{
                        required:"enter your password",
                        minlength: 'Password must be at least 8 characters long',
                        maxlength: 'maximum lengrh of Password is 9 characters long',
                        
                    },     
                },
                submitHandler:function(form){
                    form.submit();
                }
            })

        })

    function myFunction() {
        var x = document.getElementById("pwd");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        }
        function myFunction1() {
        var x = document.getElementById("pwd1");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        }
    </script>
</body>
</html>