<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="one">
    <input type="submit" value="." id="two" onclick="hi(this.value)">


    <script>
        function hi(b){
            var a=document.getElementById("one")
        if(a.value%1==0){
            document.getElementById("one").value =b;
        }
        }
       
    </script>
</body>
</html>